*{
  margin: 0;padding: 0;
}
.skyblue{
  font-size: 25px;
  color: skyblue;
  cursor: pointer;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 50px;
}
.skyblue:hover{
  background-color: #77a2c5;
  color:#fff;
}